
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*<link rel="stylesheet" href="~/Content/assets/css/detailscss.css" />*@


<link rel="stylesheet" href="~/Content/assets/css/detailscss.css">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;1,300&family=Roboto:ital,wght@1,100&display=swap" rel="stylesheet" />
<div class="breadcrumbs">
        <div class="wrapper-detail">
        <div class="container">
            <div class="row">
                <div class="img-container">
                    <div class="surround">
                        <div class="product-img">
                            <div class="img-book">
                                <img src="~/Images/@Model.ImagePro" class="real-img" />
                            </div>
                        </div>
                        <div class="book-information-container">
                            <div class="main-title">
                                <h1>@Model.NamePro</h1>
                            </div>
                            <div class="product-price-review"><p>@Model.Price VNĐ</p></div>
                            <div class="book-subtiles">
                                <div class="good-subtile1">
                                    <div class="product-details-info">
                                        <div class="details" id="bold">Tác giả</div>
                                        <div class="details" id="bold">Năm sản xuất</div>
                                        <div class="details" id="bold">Kích thước</div>
                                    </div>
                                    <div class="product-details-info">
                                        <div class="details"><a href="#">@Model.Author</a></div>
                                        <div class="details">2023</div>
                                        <div class="details">13 X 18 cm</div>
                                    </div>
                                    <div class="product-details-info" style="padding-left:50px">
                                        <div class="details" id="bold">Nhà xuất bản</div>
                                        <div class="details" id="bold">Hình thức</div>
                                    </div>
                                    <div class="product-details-info">
                                        <div class="details">@Model.Publisher</div>
                                        <div class="details">Hình thức Bìa Mềm</div>
                                    </div>
                                </div>
                            </div>
                            <div class="box-description">
                                <div class="box-description-content" id="bold">Nội dung</div>
                                <div class="content-script">
                                    <p>
                                        @Model.DecriptionPro
                                    </p>
                                </div>
                            </div>
                            <div class="selecter-form">
                                <div class="custom input_number_product soluong1 show">
                                    <button class="btn-num-1" onclick="var result = document.getElementById('qtym'); var qtypro = result.value; if( !isNaN( qtypro ) &amp;&amp; qtypro > 1 ) result.value--;return false;" type="button">-</button>
                                    <input type="text" id="qtym" name="quantity" value="1" maxlength="2" class="form-control prd_quantity" onkeypress="if ( isNaN(this.value + String.fromCharCode(event.keyCode) )) return false;" onchange="if(this.value == 0)this.value=1;">
                                    <button class="btn-num-2" onclick="var result = document.getElementById('qtym'); var qtypro = result.value; if( !isNaN( qtypro )) result.value++;return false;" type="button">+</button>
                                </div>
                                <button id="add-to-cart">Thêm vào giỏ</button>
                            </div>
                            <div class="catergory-tag">
                                <div class="Products-Meta">
                                    <div class="catergory-new"><p style="font-weight:bold">DANH MỤC:</pstyle="font-weight:bold"><p>@Model.Author, @Model.Category1.NameCate</p></div>
                                    <div class="tag" style="font-weight:bold">TAG</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>




